/*.pro-img, .pro-dit{
    background-color: white;
    display: flex;
    flex-flow: column wrap;
}
.pro-img{
    grid-area: 1/1/3/4;
}
.pro-dit{
    grid-area: 1/4/3/13;
    text-align: left;
    padding-top: 10px;
}
.pro-dit ul , .pro-dit ul li, .pro-dit p, .pro-dit h1{
    text-align: left;
    padding-left: 10px;
}
.img-big{
    order: 1;
    flex: 1 1 100%;
    margin: 1px;
}
.img-big img{
    margin: 1px;
    padding: 0px;
    border-radius: 5px;
    height: 300px;
    width: 100%;
}
.ord-butt{
    display: flex;
    flex-flow: row wrap;
}
.ord-butt button{
    margin: 10px;
    padding: 5px;
    border: 1px solid gainsboro;
    display: block;
}
.ord-butt button a:hover{
    color: white;
}
.shere-link{
    grid-area: 4/4/4/4;
    display: flex;
    flex-flow: row wrap;
}
.shere-link a {
    flex: 1 1 20px;
}
@media screen and (max-width:700px){
    .pro-img, .pro-dit{
        background-color: white;
        display: flex;
        flex-flow: column wrap;
    }
    .pro-img{
        grid-area: 1/1/1/13;
    }
    .pro-dit{
        grid-area: 2/1/3/13;
        text-align: left;
        padding-top: 10px;
    }
    .pro-dit ul , .pro-dit ul li, .pro-dit p, .pro-dit h1{
        text-align: left;
        padding-left: 10px;
    }
    .img-big{
        order: 1;
        flex: 1 1 100%;
        margin: 1px;
    }
    .img-big img{
        margin: 1px;
        padding: 0px;
        border-radius: 5px;
        height: 300px;
        width: 100%;
    }
    .ord-butt{
        display: flex;
        flex-flow: row wrap;
    }
    .ord-butt button{
        margin: 10px;
        padding: 5px;
        border: 1px solid gainsboro;
        display: block;
    }
    .ord-butt button a:hover{
        color: white;
    }
    .shere-link{
        grid-area: 4/4/4/4;
        display: flex;
        flex-flow: row wrap;
    }
    .shere-link a {
        flex: 1 1 20px;
    }
}
*/
h1 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .price {
    margin-bottom: 10px;
  }
  
  .wrapper {
    margin: 0 auto;
    width: 860px;
  }
  
  .columns {
    margin: 0 auto;
    max-width: 900px;
  }
  
  .details {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }
  
  .thumbnail-container {
    position: relative;
    width: 100%;
    height: 100%;
    float: left;
  }
  
  .price {
    font-size: 20px;
    color: #777474;
  }
  
  .wishlist-container {
    padding-left: 0;
  }
  
  #header {
    width: 100%;
    text-align: center;
    background: white;
    padding: 5px;
    /*box-shadow: 0 10px 17px 0px #c0c0c0;*/
    box-shadow: 0 5px 10px 0px #dbd7d7;
  }
  #header img {
    max-width: 30px;
  }
  
  .columns {
    margin-top: 30px;
  }
  
  .button {
    width: 100%;
    border-radius: 0;
  }
  
  .select, select {
    width: 100%;
    border-radius: 0 !important;
  }
  
  #wishlist-container {
    padding-left: 0;
  }
  
  #buy-container {
    padding-right: 0;
  }
  
  .small-text {
    font-size: 14px;
  }
  
  .small-text span {
    font-weight: bold;
  }
  
  .buy-button {
    background: #ff6900;
    color: white;
    border: none;
  }
  
  .buy-button:hover, .buy-button:active, .buy-button:focus {
    color: white;
    opacity: 0.9;
  }
  
  a {
    color: #ff6900;
  }
  a:hover {
    color: #ff6900;
    opacity: 0.8;
  }
  
  @media only screen and (max-width: 769px) {
  
    #wishlist-container, #buy-container {
      padding: 0 0 15px 0;
    }
  }