table{
    border-collapse: collapse;
    border: 2p solid rgb(200,200,200);
    letter-spacing: 1px;
    font-family: sans-serif;
    font-size: .8rem;
    flex:1 1 auto;
    margin: 50px;
    padding: 50px;
    flex: 1 1 auto;
    order: 1;
  }
table > caption{
    margin-top: 10px;
    margin-bottom: 10px;
  }
thead{
    background-color: #333;
    color: #fff;
  }
tfoot{
    background-color: purple;
    color: #fff;
    font-size: 0.8rem
  }
th, td {
    border: 1px solid rgb(190,190,190);
    padding: 2px 2px;
  }
td{
    text-align: center;
  }
  td input {
    width: 60px;
  }



@media screen and (max-width:700px){
    *{
        margin: 0px;
        padding: 0px;
    }
    .flex {
        grid-area: 1/1/13/13;
        display: flex;
        flex-flow: row wrap;
        margin: 0px;
        padding: 0px;
    }
    table{
        border-collapse: collapse;
        border: 2p solid rgb(200,200,200);
        letter-spacing: 1px;
        font-family: sans-serif;
        font-size: .5rem;
        flex:1 1 auto;
        margin: 5px;
        padding: 5px;
        flex: 1 1 auto;
        order: 1;
      }
    table > caption{
        margin-top: 10px;
        margin-bottom: 10px;
      }
    thead{
        background-color: #333;
        color: #fff;
      }
    tfoot{
        background-color: purple;
        color: #fff;
        font-size: 0.8rem
      }
    th, td {
        border: 1px solid rgb(190,190,190);
        padding: 5px 5px;
      }
    td{
        text-align: center;
      }
      .from{
        display: flex;
        position: sticky;
        flex-flow: row wrap;
        order: 2;
        margin: 2px;
        padding: 2px;
    }
    .link {
        display: flex;
        flex-flow: row wrap;
        margin: 2px;
        padding: 2px;
        flex: 1 1 maxmin(200px, 400px);
        order: 3;
    }
    .link a {
        border: 1px solid black;
        margin: 10px;
        padding: 10px;
        text-decoration: none;
        flex: 1 1 auto;
    }
    .info, .text {
        display: flex;
        flex-flow: row wrap;
    }
    .text {
        display: flex;
        flex-flow: row wrap;
        flex: 1 1 auto;
    }
    .text label {
        flex: 1 1 auto;
        order: 1;
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    .text input {
        flex: 1 1 auto;
        order: 2;
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    textarea {
        order: 2;
        flex: 1 1 auto;
        display: flex;
        margin: 10px;
        padding: 10px;
    }
    td input {
        width: 30px;
        font-size: 0.8rem;
        height: 25px;
    }
  }
  .pointer {
      cursor: pointer;
      color: blue;
  }
  .submited{
      width: 50px;
  }